@{
    ViewData["Title"] = "Home Page";
}


    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container px-md-0">
            <div class="row d-flex no-gutters">




                @await Component.InvokeAsync("portfolio")






            </div>
           
        </div>
        
    </section>
